<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dupat.layouttest">

    <uses-sdk />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".FaceRecognitionActivity"
            android:theme="@style/AllWhite"
            android:parentActivityName=".SplashActivity"></activity>
        <activity android:name=".DetectorActivity"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AllWhite"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FriendsActivity"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AllWhite"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DisplayContactActivity"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AllWhite"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ContactActivity"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AllWhite" />
        <activity
            android:name=".CalculatorActivity"
            android:theme="@style/AllWhite" />
        <activity
            android:name=".DetailPortfolioActivity"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AllWhite" />
        <activity
            android:name=".PortfolioActivity"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/NavWhite" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
    </application>

</manifest>